#dog-name,
#name,
#email,
#dog-breed,
#dog-age,
#dog-gender,
#age,
#partner-name,
#partner-age,
#address,
#city,
#province,
#postal,
#phone-number,
#kid,
#kid-age,
#residents,
#allergies,
#ownership-type,
#house-type,
#landlord-name,
#landlord-phone,
#environment-type,
#property,
#not-home,
#work-hrs,
#pet-place,
#holiday,
#dog-size,
#gender,
#coat,
#activity,
#personality,
#dog-med,
#die {
  border-radius: 20px;
}

.dog-name-label,
.name-label,
.email-label,
.filter {
  font-family: raleway, sans-serif;
}

#text-field,
#text {
  border-radius: 10px;
}

.text-field-label {
  font-family: raleway, sans-serif;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}
